@{
    ViewData["Title"] = "Get to Know Joel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Get to Know Joel Hilton</h1>
    <p>Welcome to a deep dive into the life and passions of Joel Hilton.</p>
    <!-- Add more content about Joel here -->
    <br />
    <p>Joel occasionally performs at Quick Wits Comedy, go visit there website to see more!!</p>
    <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a>

    <br />
    <a href="https://baconsale.com/">
        <img src="~/image/baconsalekate.jpg" alt="Baconsale" width="500px" />
    </a>
    <br />
    <a href="https://baconsale.com/">Baconsale</a>

    <p></p>
</div>
