
<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <img src="~/image/joelhiltonheadshot.jpg" width ="500"/>
    <p> Welcome to Joel Hilton's Film Collection. Joel Hilton is the brother of the legendary figure himself, Professor Spencer Hilton.</p>    
    <p>Explore the curated collection of films that have made an impact on Joel, spanning various genres and eras. Joel, a connoisseur of film and pop culture, brings a unique perspective to movie appreciation, blending in-depth analysis with a passion for storytelling.</p>
    <p>Don't miss out on Joel's insights and recommendations. Dive into the collection and discover a world of cinematic treasures.</p>


</div>

<div>
    <a class="btn btn-secondary" href="/Home/GetToKnowJoel">Get to Know Joel</a>
    <br />
</div>


<div>
    <br />
    <a class="btn btn-primary" href="/Home/Create">Add a Movie to the Collection</a>

</div>

<a</a>
<div>
    <br />
    <a class="btn btn-primary" href="/Home/JoelMovies">View Joel's Movie Collection</a>
</div>

